# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine on    
    #RewriteCond %{HTTPS} !=on [NC]  # Descomentar quando ter o certificado SSL
	#RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [R,L] # Descomentar quando ter o certificado SSL
    RewriteRule    ^(\.well-known/.*)$ $1 [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]    
</IfModule>
